<div class="rozrusznik-login full-height">???
    <form class="login-form" ng-submit="login()" ng-init="accountUsername=''; accountPassword='';">
        <input id="username" name="username" ng-model="accountUsername" type="text" placeholder="{{'Użytkownik' | translate}}">
        <input id="password" name="password" ng-model="accountPassword" type="password" placeholder="{{'Hasło' | translate}}">
        <button class="login-btn" name="submit" type="submit">{{'Zaloguj się' | translate}}</button>
    </form>
</div>